:root {
  --section-surface-gradient-start: #131313;
  --section-surface-gradient: linear-gradient(
    to bottom,
    var(--section-surface-gradient-start),
    #2c2c2c
  );
}

.bga-menu-bar,
#topbar,
#main-content div.place-self-stretch {
  background: var(--section-surface-gradient) !important;
}

#reflexiontimevalues {
  color: var(--section-color);
}
