@import url("page/siteheader.css");
@import url("page/headertabs.css");
@import url("page/sections.css");
@import url("page/lobby.css");

:root {
  --page-surface-color: #000;

  --section-color: #e879f9;

  --section-content-border-color: #a21caf;
  --section-content-color: #f5d0fe;
  --section-content-label-color: #f0abfc;
  --section-content-surface-color: #17001b;
}

html {
  background: var(--page-surface-color);
  filter: brightness(0.9);
}

#overall-content {
  background: transparent !important;
}

#loader_mask,
#page-content {
  background-color: var(--page-surface-color);
}

.current_player_is_active #page-title,
.gamestate_gameEnd #page-title,
#page-title {
  background-color: var(--section-content-surface-color);
  border: 0.1rem solid var(--section-content-border-color);
  color: var(--section-content-color);

  & span[style$="black"] {
    color: var(--section-content-color) !important;
  }
}

#arena_cannot_play_panel {
  background-color: var(--section-content-surface-color);
  border-color: var(--section-content-border-color);
  color: var(--section-content-color);
  font-size: 3rem;
  margin: 1rem;
  padding: 1rem;

  & > a {
    color: var(--link-color);

    &:hover,
    &:focus {
      color: var(--link-focus-color);
    }
  }
  & > .smalltext {
    font-size: 1rem;
  }
}
