#player_boards,
.playertablename,
.info_table_cell {
  font-family: Roboto, Arial, sans-serif;
}

.player_score {
  color: #000;
}

#pagemaintitletext > span:first-child,
.status-text > span:first-child,
.playername:not(:has(.playername)),
.playertablename,
.playertable-head,
.table-owner-player-name,
.info_table_cell.name > div:first-child,
#logs .playername {
  border-radius: 1rem;
  border-width: 0.1rem !important;
  padding: 0.05rem 0.3rem;
}

.player-board:has(> .player_board_inner[id$="_0000ff"]),
.playername[style$="#0000ff;"],
.playertablename[style*="#0000ff"],
.playertable-head[style*="#0000ff"],
.info_table_cell.name[style$="#0000ff;"] > div:first-child,
span[style$="#0000ff;"] {
  background-image: linear-gradient(#e5e5ff 0%, #b3b3ff 100%);
  border: 0.2rem solid #0000ff;
}

.player-board:has(> .player_board_inner[id$="_008000"]),
.playername[style$="#008000;"],
.playertablename[style*="#008000"],
.playertable-head[style*="#008000"],
.info_table_cell.name[style$="#008000;"] > div:first-child,
span[style$="#008000;"] {
  background-image: linear-gradient(#e5ffe5 0%, #b3ffb3 100%);
  border: 0.2rem solid #008000;
}

.player-board:has(> .player_board_inner[id$="_151d21"]),
.playername[style$="#151d21;"],
.playertablename[style*="#151d21"],
.playertable-head[style*="#151d21"],
.info_table_cell.name[style$="#151d21;"] > div:first-child,
span[style$="#151d21;"] {
  background-image: linear-gradient(#e1e9ed 0%, #aeb6ba 100%);
  border: 0.2rem solid #151d21;
}

.player-board:has(> .player_board_inner[id$="_1f94a3"]),
.playername[style$="#1f94a3;"],
.playertablename[style*="#1f94a3"],
.playertable-head[style*="#1f94a3"],
.info_table_cell.name[style$="#1f94a3;"] > div:first-child,
span[style$="#1f94a3;"] {
  background-image: linear-gradient(#d2ffff 0%, #9effff 100%);
  border: 0.2rem solid #1f94a3;
}

.player-board:has(> .player_board_inner[id$="_438bb8"]),
.playername[style$="#438bb8;"],
.playertablename[style*="#438bb8"],
.playertable-head[style*="#438bb8"],
.info_table_cell.name[style$="#438bb8;"] > div:first-child,
span[style$="#438bb8;"] {
  background-image: linear-gradient(#f6ffff 0%, #c2ffff 100%);
  border: 0.2rem solid #438bb8;
}

.player-board:has(> .player_board_inner[id$="_438e39"]),
.playername[style$="#438e39;"],
.playertablename[style*="#438e39"],
.playertable-head[style*="#438e39"],
.info_table_cell.name[style$="#438e39;"] > div:first-child,
span[style$="#438e39;"] {
  background-image: linear-gradient(#dcffd2 0%, #a9f49f 100%);
  border: 0.2rem solid #438e39;
}

.player-board:has(> .player_board_inner[id$="_58748c"]),
.playername[style$="#58748c;"],
.playertablename[style*="#58748c"],
.playertable-head[style*="#58748c"],
.info_table_cell.name[style$="#58748c;"] > div:first-child,
span[style$="#58748c;"] {
  background-image: linear-gradient(#f1ffff 0%, #d7f3ff 100%);
  border: 0.2rem solid #58748c;
}

.player-board:has(> .player_board_inner[id$="_72c3b1"]),
.playername[style$="#72c3b1;"],
.playertablename[style*="#72c3b1"],
.playertable-head[style*="#72c3b1"],
.info_table_cell.name[style$="#72c3b1;"] > div:first-child,
span[style$="#72c3b1;"] {
  background-image: linear-gradient(#f1ffff 0%, #d8ffff 100%);
  border: 0.2rem solid #72c3b1;
}

.player-board:has(> .player_board_inner[id$="_773300"]),
.playername[style$="#773300;"],
.playertablename[style*="#773300"],
.playertable-head[style*="#773300"],
.info_table_cell.name[style$="#773300;"] > div:first-child,
span[style$="#773300;"] {
  background-image: linear-gradient(#ffe6b3 0%, #f6b27f 100%);
  border: 0.2rem solid #773300;
}

.player-board:has(> .player_board_inner[id$="_7b7b7b"]),
.playername[style$="#7b7b7b;"],
.playertablename[style*="#7b7b7b"],
.playertable-head[style*="#7b7b7b"],
.info_table_cell.name[style$="#7b7b7b;"] > div:first-child,
span[style$="#773300;"] {
  background-image: linear-gradient(#fafafa 0%, #e1e1e1 100%);
  border: 0.2rem solid #7b7b7b;
}

.player-board:has(> .player_board_inner[id$="_7bab27"]),
.playername[style$="#7bab27;"],
.playertablename[style*="#7bab27"],
.playertable-head[style*="#7bab27"],
.info_table_cell.name[style$="#7bab27;"] > div:first-child,
span[style$="#7bab27;"] {
  background-image: linear-gradient(#ffffda 0%, #faffa6 100%);
  border: 0.2rem solid #7bab27;
}

.player-board:has(> .player_board_inner[id$="_982fff"]),
.playername[style$="#982fff;"],
.playertablename[style*="#982fff"],
.playertable-head[style*="#982fff"],
.info_table_cell.name[style$="#982fff;"] > div:first-child,
span[style$="#982fff;"] {
  background-image: linear-gradient(#ffe2ff 0%, #ffaeff 100%);
  border: 0.2rem solid #982fff;
}

.player-board:has(> .player_board_inner[id$="_a1a1a1"]),
.playername[style$="#a1a1a1;"],
.playertablename[style*="#a1a1a1"],
.playertable-head[style*="#a1a1a1"],
.info_table_cell.name[style$="#a1a1a1;"] > div:first-child,
span[style$="#a1a1a1;"] {
  background-image: linear-gradient(#eeeeee 0%, #d4d4d4 100%);
  border: 0.2rem solid #a1a1a1;
}

.player-board:has(> .player_board_inner[id$="_c76a14"]),
.playername[style$="#c76a14;"],
.playertablename[style*="#c76a14"],
.playertable-head[style*="#c76a14"],
.info_table_cell.name[style$="#c76a14;"] > div:first-child,
span[style$="#c76a14;"] {
  background-image: linear-gradient(#ffffc7 0%, #ffe993 100%);
  border: 0.2rem solid #c76a14;
}

.player-board:has(> .player_board_inner[id$="_c800ff"]),
.playername[style$="#c800ff;"],
.playertablename[style*="#c800ff"],
.playertable-head[style*="#c800ff"],
.info_table_cell.name[style$="#c800ff;"] > div:first-child,
span[style$="#c800ff;"] {
  background-image: linear-gradient(#ffe5ff 0%, #ffb3ff 100%);
  border: 0.2rem solid #c800ff;
}

.player-board:has(> .player_board_inner[id$="_d9b51d"]),
.playername[style$="#d9b51d;"],
.playertablename[style*="#d9b51d"],
.playertable-head[style*="#d9b51d"],
.info_table_cell.name[style$="#d9b51d;"] > div:first-child,
span[style$="#d9b51d;"] {
  background-image: linear-gradient(#ffffd0 0%, #ffff9c 100%);
  border: 0.2rem solid #d9b51d;
}

.player-board:has(> .player_board_inner[id$="_e0a928"]),
.playername[style$="#e0a928;"],
.playertablename[style*="#e0a928"],
.playertable-head[style*="#e0a928"],
.info_table_cell.name[style$="#e0a928;"] > div:first-child,
span[style$="#e0a928;"] {
  background-image: linear-gradient(#ffffdb 0%, #ffffa7 100%);
  border: 0.2rem solid #e0a928;
}

.player-board:has(> .player_board_inner[id$="_e67cc8"]),
.playername[style$="#e67cc8;"],
.playertablename[style*="#e67cc8"],
.playertable-head[style*="#e67cc8"],
.info_table_cell.name[style$="#e67cc8;"] > div:first-child,
span[style$="#e67cc8;"] {
  background-image: linear-gradient(#fffbff 0%, #ffe2ff 100%);
  border: 0.2rem solid #e67cc8;
}

.player-board:has(> .player_board_inner[id$="_e93034"]),
.playername[style$="#e93034;"],
.playertablename[style*="#e93034"],
.playertable-head[style*="#e93034"],
.info_table_cell.name[style$="#e93034;"] > div:first-child,
span[style$="#e93034;"] {
  background-image: linear-gradient(#ffe3e7 0%, #ffafb3 100%);
  border: 0.2rem solid #e93034;
}

.player-board:has(> .player_board_inner[id$="_f26d6b"]),
.playername[style$="#f26d6b;"],
.playertablename[style*="#f26d6b"],
.playertable-head[style*="#f26d6b"],
.info_table_cell.name[style$="#f26d6b;"] > div:first-child,
span[style$="#f26d6b;"] {
  background-image: linear-gradient(#ffecea 0%, #ffd3d1 100%);
  border: 0.2rem solid #f26d6b;
}

.player-board:has(> .player_board_inner[id$="_ff0000"]),
.playername[style$="#ff0000;"],
.playertablename[style*="#ff0000"],
.playertable-head[style*="#ff0000"],
.info_table_cell.name[style$="#ff0000;"] > div:first-child,
span[style$="#ff0000;"] {
  background-image: linear-gradient(#ffe5e5 0%, #ffb3b3 100%);
  border: 0.2rem solid #ff0000;
}

.player-board:has(> .player_board_inner[id$="_ff1493"]),
.playername[style$="#ff1493;"],
.playertablename[style*="#ff1493"],
.playertable-head[style*="#ff1493"],
.info_table_cell.name[style$="#ff1493;"] > div:first-child,
span[style$="#ff1493;"] {
  background-image: linear-gradient(#fff9ff 0%, #ffc7ff 100%);
  border: 0.2rem solid #ff1493;
}

.player-board:has(> .player_board_inner[id$="_ffa500"]),
.playername[style$="#ffa500;"],
.playertablename[style*="#ffa500"],
.playertable-head[style*="#ffa500"],
.info_table_cell.name[style$="#ffa500;"] > div:first-child,
span[style$="#ffa500;"] {
  background-image: linear-gradient(#ffffe5 0%, #ffffb3 100%);
  border: 0.2rem solid #ffa500;
}

.player-board:has(> .player_board_inner[id$="_ffffff"]),
.playername[style$="#ffffff;"],
.playertablename[style*="#ffffff"],
.playertable-head[style*="#ffffff"],
.info_table_cell.name[style$="#ffffff;"] > div:first-child,
span[style$="#ffffff;"] {
  background-image: linear-gradient(#e5e5e5 0%, #b3b3b3 100%);
  border: 0.2rem solid #ffffff;
}
